/* FONTS */
/* Computers & tablets */
@media screen and (min-width: 500px) {
  .is-main-title{
    font-size: 45px;
  }

  .is-main-title-name{
    font-size: 100px;
    line-height: 100px;
  }

  .is-main-subtitle-name{
    font-size: 25px;
  }

  .is-main-subtitle{
    font-size: 30px;
  }

  .is-menu-title{
    font-size: 18px;
  }

  .is-menu-title:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: white;
  }

  .section-header{
    font-size: 50px;
    font-weight: bold;
  }

  .is-project-title{
    border-bottom: 3px solid white;
    font-weight: bold;
    font-size: 40px;
  }

  .is-project-body{
    font-size: 20px;
  }

  .is-education-title{
    /* border-bottom: 3px solid white; */
    font-weight: bold;
    font-size: 40px;
  }

  .is-education-body{
    font-size: 20px;
  }

  .is-certify-title{
    font-weight: bold;
    font-size: 30px;
  }

  /* .media_icon{
    max-height: 3em;
  } */

}

/* Smartphones */
@media screen and (max-width: 499px) {
  .is-main-title{
    font-size: 30px;
  }

  .is-main-title-name{
    font-size: 80px;
    line-height: 80px;
  }

  .is-main-subtitle-name{
    font-size: 25px;
  }

  .is-main-subtitle{
    font-size: 20px;
  }

  .is-menu-title{
    font-size: 18px;
    line-height: 28px;
  }

  .section-header{
    font-size: 30px;
    font-weight: bold;
  }

  .is-project-title{
    border-bottom: 3px solid white;
    font-weight: bold;
    font-size: 25px;
  }

  .is-project-body{
    font-size: 15px;
  }

  .is-education-title{
    /* border-bottom: 3px solid white; */
    font-weight: bold;
    font-size: 25px;
  }

  .is-education-body{
    font-size: 15px;
  }

  .is-certify-title{
    font-weight: bold;
    font-size: 20px;
  }

  .media_icon{
    font-size: 2em;
  }

}

/* DIVS */
.social-media{
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}



i{
  /* color: white; */
  margin-left: 5px;
}
i:hover{
  color: white;
}

a.is-white{
  color: inherit;
  z-index: 10;
}

.is-cover-pic{
  background-image: url("../IMG/tony_wallpaper.jpg");
}

.is-right-side{
  text-align: right;
}

.is-column-left{
  text-align: left;
  transform-origin center center 0px;
  transition: transform .2s; /* Animation */
  transform: perspective(1000px)
}

.is-column-left:hover{
  transform: scale(1.04);
}

.is-column-right{
  text-align: right;
  transform-origin center center 0px;
  transition: transform .2s; /* Animation */
  transform: perspective(1000px)
}

.is-column-right:hover{
  transform: scale(1.04);
}

.is-certified-by{
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-decoration-color: white;
}

a.is-certified-by{
  color: white;
}

.is-center-img{
  text-align: center;
}
