/* #rewardsLogo{
  max-width: 40%;
  max-height: 40%;
} */

.notification{
    background-color: black;
    color: white;
}

.modal{
  opacity: 0;
  transition: opacity 1.25s;
}

.modal.is-active{
  opacity: 1;
}
