.is-back{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 0px;
  background-color: black;
  color: white;
}

.is-button-galery{
  float: right;
  border: 1px solid white;
  background-color: black;
  color: white;
  cursor: pointer;
}

.is-button-galery:hover{
  border: 1px solid white;
  color: black;
  background-color: white;
}


.notification{
    background-color: black;
    color: white;
}

.is-arrow-left-modal{
  position: fixed;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0px;
  color: white;
  cursor: pointer;
}

.is-arrow-right-modal{
  position: fixed;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0px;
  color: white;
  cursor: pointer;
}

/* Computers & tablets */
.is-image{
  max-height: 400px;
  max-width: 600px;
  text-align: center;
}

@media screen and (max-width: 499px) {
  .is-image{
    max-height: 175px;
    max-width: 325px;
    text-align: center;
    min-height: 175px;
    min-width: 325px;
  }

  #img{
    max-height: inherit;
    max-width: auto;
  }
}
