.is-back{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 0px;
  background-color: black;
  color: white;
}

.is-button-galery{
  float: right;
  border: 1px solid white;
  background-color: black;
  color: white;
  cursor: pointer;
}

.is-button-galery:hover{
  border: 1px solid white;
  color: black;
  background-color: white;
}


.notification{
    background-color: black;
    color: white;
}

.is-arrow-left-modal{
  position: fixed;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0px;
  color: white;
  cursor: pointer;
}

.is-arrow-right-modal{
  position: fixed;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0px;
  color: white;
  cursor: pointer;
}

/* Computers & tablets */
@media screen and (min-width:769px) {
  .is-image{
    max-height: 550px;
    max-width: 100%;
    text-align: center;
  }

  #img{
    max-height: inherit;
  }
}

/* Phones */
@media screen and (max-width:768px) {
  .is-image{
    max-width: 100%;
    text-align: center;
    min-height: 175px;
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #img{
    max-height: inherit;
  }
}
